body{
    background-image: url(background.png);
    background-size: cover;
}
#recent-searches {
    width: 18rem;
  }
  
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    color: #2780e3;
  }

h3{
    color:#343a40 ;
    background-color: white;
    text-align: center;
    padding: 5px;
}

#forecast-title{
    width: 100%;
}

aside, section{
  margin-bottom: 20px;
}

.jumbotron{
    width:100%;
}

.bg-custom{
  color:#405d27;
}